<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.EsProductMapper">

    <!-- 通用查询映射结果 -->
    <select id="getProductEs" resultType="com.ys.mail.entity.EsProduct" parameterType="java.lang.Long">
        SELECT
        *
        FROM
        pms_product p
        WHERE
        1=1
    </select>
</mapper>
