<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.GroupTuxedoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.mail.entity.GroupTuxedo">
        <id column="group_tuxedo_id" property="groupTuxedoId" />
        <result column="user_id" property="userId" />
        <result column="group_sponsor_id" property="groupSponsorId" />
        <result column="group_status" property="groupStatus" />
        <result column="order_no" property="orderNo" />
        <result column="is_host" property="host" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        group_tuxedo_id, user_id, group_sponsor_id, group_status, order_no,
        is_host, create_time, update_time, deleted
    </sql>

</mapper>
