<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.OmsCartItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.mail.entity.OmsCartItem">
        <id column="cart_item_id" property="cartItemId" />
        <result column="product_id" property="productId" />
        <result column="product_sku_id" property="productSkuId" />
        <result column="user_id" property="userId" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
        <result column="product_sku_code" property="productSkuCode" />
        <result column="product_sn" property="productSn" />
        <result column="product_attr" property="productAttr" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="product_name" property="productName"/>
        <result column="product_pic" property="productPic"/>
        <result column="pdt_cgy_id" property="pdtCgyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_item_id, product_id, product_sku_id, user_id, quantity, price, product_sku_code,
        product_sn, product_attr, create_time, update_time,product_name,product_pic
    </sql>

    <update id="updateQuantity">
        update oms_cart_item
        set quantity = quantity + #{quantity},
            update_time = now()
        where cart_item_id = #{cartItemId};
    </update>


    <select id="selectByCartInfo" resultMap="BaseResultMap">
        SELECT
            pss.product_id,
            pss.sku_stock_id product_sku_id,
            pss.price,
            pss.sp_data product_attr,
            pss.pic product_pic,
            pp.product_name,
            pp.pdt_cgy_id
        FROM
            pms_sku_stock pss
            LEFT JOIN pms_product pp ON pss.product_id = pp.product_id
        WHERE
            pss.sku_stock_id = #{id};
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
            cart_item_id,
            product_id,
            product_sku_id,
            user_id,
            quantity,
            price,
            product_sku_code,
            product_sn,
            product_attr,
            create_time,
            update_time,
            product_name,
            product_pic,
            pdt_cgy_id
        FROM
            oms_cart_item
        WHERE
            user_id = #{userId};
    </select>

    <delete id="removeBySkuId">
        <foreach collection="ids" item="item" index="index" separator=";">
            DELETE FROM oms_cart_item
            <where>
                <if test="item != null">
                    product_sku_id = #{item}
                </if>
                <if test="userId != null">
                    and user_id = #{userId}
                </if>
            </where>
        </foreach>
    </delete>

    <select id="batchProduct" resultType="com.ys.mail.model.po.BuyProductPO">
        select
        product_id,
        product_pic pic,
        product_name,
        product_sku_id sku_stock_id,
        product_attr sp_data,
        price,
        quantity,
        pdt_cgy_id
        from oms_cart_item
        where user_id = #{userId}
        and cart_item_id in(
            <foreach collection="ids" item="item" separator=",">
                #{item}
            </foreach>
            ) ;
    </select>

    <select id="selectByNum" resultType="java.lang.Integer">
        SELECT
            stock
        FROM
            pms_sku_stock
        WHERE
            sku_stock_id = #{skuId}
          AND stock <![CDATA[ >= ]]> #{num};
    </select>

    <update id="update">
        update oms_cart_item
        set update_time = now(),
            quantity = #{num}
        where user_id = #{userId} and product_sku_id = #{skuId};
    </update>

    <update id="insertOrUpdate" parameterType="com.ys.mail.entity.OmsCartItem">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(1) from oms_cart_item where user_id = #{item.userId} and product_sku_id = #{item.productSkuId}
        </selectKey>
        <if test="count > 0">
            update oms_cart_item
            <set>
                <if test="item.quantity != null">
                    quantity= quantity + #{item.quantity},
                    update_time = now(),
                </if>
            </set>
            where user_id = #{item.userId} and product_sku_id = #{item.productSkuId}
        </if>
        <if test="count==0">
            insert into oms_cart_item(cart_item_id,product_id,product_sku_id,user_id,quantity,
            price,product_attr,create_time,product_name,product_pic,pdt_cgy_id)
            values(#{item.cartItemId},#{item.productId},#{item.productSkuId},#{item.userId},#{item.quantity},
            #{item.price},#{item.productAttr},now(),#{item.productName},#{item.productPic},#{item.pdtCgyId})
        </if>
    </update>
</mapper>
