<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.SmsProductStoreMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.mail.entity.SmsProductStore">
        <id column="pdt_store_id" property="pdtStoreId"/>
        <result column="user_id" property="userId"/>
        <result column="store_name" property="storeName"/>
        <result column="store_boss" property="storeBoss"/>
        <result column="store_phone" property="storePhone"/>
        <result column="store_address" property="storeAddress"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="pc_user_id" property="pcUserId"/>
        <result column="review_state" property="reviewState"/>
        <result column="review_desc" property="reviewDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pdt_store_id, user_id, store_name, store_boss, store_phone, store_address, create_time, update_time, deleted, pc_user_id, review_state, review_desc
    </sql>

    <select id="getPage" resultType="com.ys.mail.model.admin.vo.SmsProductStoreVO">
        SELECT t1.*,
               t2.username AS reviewName
        FROM sms_product_store t1
                     LEFT JOIN pc_user t2 ON t1.pc_user_id = t2.pc_user_id ${ew.customSqlSegment}
    </select>
</mapper>
