<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.SysTemSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.mail.entity.SysTemSetting">
        <id column="tem_setting_id" property="temSettingId" />
        <result column="merchant_order" property="merchantOrder" />
        <result column="system_order" property="systemOrder" />
        <result column="tem_type" property="temType" />
        <result column="is_tem_status" property="isTemStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tem_setting_id, merchant_order, system_order, tem_type, is_tem_status, create_time, update_time
    </sql>

    <select id="getOneByType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM
            sys_tem_setting t
        WHERE
            t.is_tem_status = 1
          AND t.tem_type = #{temType}
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO
            sys_tem_setting(tem_setting_id,merchant_order,system_order,tem_type,is_tem_status,create_time)
        VALUES
        <foreach collection="list" item="o" index="index" separator="," close=";">
            (
            #{o.temSettingId}
            ,#{o.merchantOrder}
            ,#{o.systemOrder}
            ,#{o.temType}
            ,#{o.isTemStatus}
            ,#{o.createTime}
            )
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            <if test="item!=null">
                update sys_tem_setting
                <set>
                    merchant_order = #{item.merchantOrder},
                    system_order = #{item.systemOrder},
                    is_tem_status = #{item.isTemStatus},
                    update_time = DATE_FORMAT(concat(#{item.updateTime}),'%Y-%m-%d %T')
                </set>
                where tem_setting_id = #{item.temSettingId}
            </if>
        </foreach>
    </update>
</mapper>
