<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mail.mapper.UmsAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ys.mail.entity.UmsAddress">
        <id column="address_id" property="addressId" />
        <result column="user_id" property="userId" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="province_code" property="provinceCode" />
        <result column="province" property="province" />
        <result column="city_code" property="cityCode" />
        <result column="city" property="city" />
        <result column="county_code" property="countyCode" />
        <result column="county" property="county" />
        <result column="client_address" property="clientAddress" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="is_default_status" property="defaultStatus" />
        <result column="label" property="label" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        address_id, user_id, contacts, phone, province_code, province, city_code, city, county_code, county, client_address,latitude,longitude, is_default_status, label, create_time, update_time
    </sql>

    <!-- 地图距离计算SQL，需传入经纬度对象 mapQuery-->
    <sql id="Map_Distance_SQL">
        IFNULL(ROUND(
             6378.138*2*ASIN(
                 SQRT(
                     POW(
                         SIN(( #{mapQuery.lat}*PI()/180 - latitude*PI()/180)/2),2) +
                        COS( #{mapQuery.lat}*PI()/180) *
                        COS( latitude*PI()/180) *
                        POW( SIN(( #{mapQuery.lng}*PI()/180-longitude*PI()/180)/2),2
                        )
                    )
                )*1000,2
            ),
        0) AS distance
    </sql>

    <update id="updateAsIsDefault">
        <foreach collection="addresses" item="item" index="index" separator=";">
            update ums_address
            <set>
                is_default_status = #{item.defaultStatus}
            </set>
            where user_id = #{item.userId}
        </foreach>
    </update>

    <!-- 查询个人默认地址 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            ums_address
        where
            user_id = #{userId}
        and is_default_status = 1
        limit 1;
    </select>

    <!-- 查看个人地址列表并按默认地址排序 -->
    <select id="selectAllAddress" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            ums_address
        WHERE
            user_id = #{userId}
        ORDER BY is_default_status DESC;
    </select>

    <!-- 查询个人距离最近的地址 -->
    <select id="selectRecentAddress" resultMap="BaseResultMap">
        SELECT
                <include refid="Base_Column_List"/>,
                <include refid="Map_Distance_SQL"/>
        FROM
                ums_address
        WHERE
                user_id = #{userId}
        ORDER BY distance
        LIMIT 1
    </select>

</mapper>
